services:
  localstack:
    image: localstack/localstack:latest
    container_name: localstack-chat
    ports:
      - "4566:4566"
      - "4510-4559:4510-4559"
    environment:
      - SERVICES=lambda,cloudformation,iam,sts,logs,dynamodb,apigateway,s3,dynamodbstreams,kms,ssm
      - DEBUG=1
      - PERSISTENCE=1
      - DOCKER_HOST=unix:///var/run/docker.sock
      - LAMBDA_EXECUTOR=docker-reuse
    volumes:
      - "./.localstack:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:4566/_localstack/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - default

  infra-setup:
    build:
      context: .
      dockerfile: src/infra/Dockerfile
    container_name: infra-setup
    environment:
      # aws env vars (required to deploy to localstack)
      - AWS_ENDPOINT_URL=http://localstack:4566
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      # build context env vars
      - OPENAI_API_KEY=${OPENAI_API_KEY:-}
    volumes:
      - ./src:/app/src
    depends_on:
      localstack:
        condition: service_healthy
    networks:
      - default

  websocket-api:
    hostname: wsserver
    build:
      context: .
      dockerfile: src/websocket_api/Dockerfile
    container_name: chat-websocket-api
    ports:
      - "8080:8080"
    environment:
      # localstack env vars (required for DDB)
      - AWS_ENDPOINT_URL_DYNAMODB=http://localstack:4566
      - AWS_ENDPOINT_URL=http://localstack:4566
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - TABLE_NAME=simplechat_connections
      # websocket
      - WS_PORT=8080
    volumes:
      - ./src/websocket_api:/app/websocket_api
      - ./src/commons:/app/commons
    depends_on:
      - localstack
      - infra-setup
    networks:
      - default

  frontend:
    build:
      context: .
      dockerfile: src/frontend/Dockerfile
    container_name: chat-frontend
    ports:
      - "8501:8501"
    environment:
      # localstack env vars (required for ssm)
      - AWS_ENDPOINT_URL=http://localstack:4566
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      # WebSocket server on the same Docker network.
      - DOCKER_WS_SERVER_URL=ws://wsserver:8080/ws
      # SSM key to retrieve
      - API_ID_SSM_PARAM=/chat/local/rest_api_id
      # Optional fallback if SSM is unavailable
      - APIGW_REST_INVOKE_URL=
    volumes:
      - ./src:/app/src
    depends_on:
      - websocket-api
      - localstack
    networks:
      - default

networks:
  default:
    driver: bridge